body {
	padding: 0;
	margin: 0;
}
li,ul {
	list-style: none;
	padding: 0;
}
.g-opration {
	cursor: pointer;
}
.g-bb {
	border-bottom: 1px solid #dfdfdf;
}
.g-b {
	border: 1px solid #dfdfdf;
}
.g-bg-white {
	background: #fff;;
}